<!DOCTYPE html>
<html>
<head>
    <title>Developer Portal</title>
</head>
<body>
    <h1>Create RDS Instance</h1>
    <form id="rdsForm">
        <input type="text" id="dbIdentifier" placeholder="DB Identifier" required><br>
        <input type="text" id="dbUsername" placeholder="Username" required><br>
        <input type="password" id="dbPassword" placeholder="Password" required><br>
        <button type="submit">Create RDS Instance</button>
    </form>

    <h2>Delete RDS Instance</h2>
    <form id="deleteForm">
        <input type="text" id="deleteIdentifier" placeholder="DB Identifier to Delete" required><br>
        <button type="submit">Delete RDS Instance</button>
    </form>

    <div id="result"></div>

    <script>
        document.getElementById('rdsForm').addEventListener('submit', function(e) {
            e.preventDefault();
            fetch('https://10j9y0xy31.execute-api.eu-north-1.amazonaws.com/idp/idp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    action: 'create',
                    db_identifier: document.getElementById('dbIdentifier').value,
                    db_username: document.getElementById('dbUsername').value,
                    db_password: document.getElementById('dbPassword').value
                }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerText = JSON.stringify(data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });

        document.getElementById('deleteForm').addEventListener('submit', function(e) {
            e.preventDefault();
            fetch('https://10j9y0xy31.execute-api.eu-north-1.amazonaws.com/idp/idp', {
                method: 'POST', // API Gateway does not support DELETE method with body, so we use POST with an action parameter
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    action: 'delete',
                    db_identifier: document.getElementById('deleteIdentifier').value
                }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerText = JSON.stringify(data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
